@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Poppins:wght@500&display=swap');

.App {
  font-family: 'Quicksand', sans-serif;
}

.hero {
  margin: 30px;
  display: flex;
}

.hero-text {
  width: 60%;
  padding: 30px;
  margin-left: 30px;
}

.hero-text button {
  color: white;
  background-color: #5897d7;
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
  width: 100px;
}

.hero-image {
  width: 40%;
  padding: 30px;
  float: right;
  margin: 30px;
  margin-right: 100px;
}

.hero-image img {
  border-radius: 10px;
  max-width: 400px;
  float: right;
}